{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  {% comment %} <div class="dog-container">
    <img src="{% static 'images/PeekingDog-19.svg' %}" alt="The Peeking Doggie DayCare Dog" />
  </div> {% endcomment %}
  <h1>The Peeking Doggies Daycare</h1>
 <img 
    src="{% static 'images/hp_img.jpg' %}" 
    alt="Text reads: Peeking Doggie DayCare"
  />
</section>

{% endblock %}